@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Cutive&family=Kanit:wght@300;400&family=Poppins:wght@400;600&family=Roboto+Slab&family=Ubuntu:wght@400;500&display=swap');

.header {
  margin: 0px;
  width: 100%;
  display: flex;
  font-family: 'Bungee Shade', cursive;
  font-family: 'Cutive', serif;
  font-family: 'Poppins', sans-serif;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  /* border: 1px solid black; */
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.logo {
  width: 20%;
  display: flex;
}

.logo h3 {
  margin-top: 0.5rem;
  background: linear-gradient(90deg, rgb(100, 245, 10), rgb(202, 147, 234), rgb(13, 226, 84));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* margin-left: 1rem; */
  font-weight: bolder;
}

.nav div:hover {
  background-color: rgb(203, 227, 245);
  border-radius: 10px;
}

.nav {
  display: flex;
  flex-direction: row;
  width: 25%;
  justify-content: space-around;
}

.nav div {
  text-align: center;
  width: 20%;
  height: 70%;
  margin: auto;
  align-items: center;
}

.nav div a {
  text-decoration: none;
  color: gray;
  display: block;
  margin-top: 8px;
}

.nav div a:active {
  color: rgb(18, 18, 183);
}

.nav div a:hover {
  color: blue;
}

.mode {
  width: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.mode button {
  height: 65%;
  width: 40%;
  margin: auto;
  text-align: center;

}

.button4 {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.button4:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button4:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.button4:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button4:focus {
  outline: 1px transparent;
}

.button4:before {
  display: none;
}

.button4:-webkit-details-marker {
  display: none;
}

.button31 {
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 40px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.button31:hover,
.button31:focus {
  opacity: .75;
}

.header1 {
  width: 55%;
  /* border: 1px solid black; */
  margin: auto;
  height: 150px;
  padding: 0px;
  box-sizing: border-box;
  border-radius: 10px;
  margin-top: 10px;
  background-color: rgb(124, 124, 242);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.header1 div {
  font-size: 1.1rem;
  padding: 10px;
  box-sizing: border-box;
  color: rgb(255, 253, 253);
}

.questionHeader {
  /* border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px; */
  box-shadow: rgba(71, 70, 70, 0.2) 0px 2px 8px 0px;
  margin: auto;
  margin-top: 12px;
  box-sizing: border-box;
  width: 55%;
  border-radius: 11px;
  padding: 10px;
  border-left: 6px solid rgb(8, 11, 195);
  border-right: 6px solid rgb(8, 11, 195);
}

.questionHeader .question p {
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 800;
  font-size: 1.1rem;
}

.questionHeader .answer {
  display: flex;
  flex-direction: row;
  margin: 0px;
}

.questionHeader .answer p {
  margin: 4px;
  margin-left: 7px;
  font-size: 0.9rem;
  color: rgb(114, 113, 113);
}

.textfield {
  border: 0.2px solid black;
  width: 100%;
  border-radius: 5px;
  background-color: rgb(233, 227, 227);
}

.mcqHeader {
  margin: auto;
  box-shadow: rgba(65, 63, 63, 0.2) 0px 2px 8px 0px;
  margin-top: 12px;
  box-sizing: border-box;
  width: 55%;
  border-radius: 11px;
  padding: 10px;
  border-left: 6px solid rgb(6, 150, 6);
  border-right: 6px solid rgb(6, 150, 6);
}

.mcqHeader .question p {
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 800;
  font-size: 1.1rem;
}

.mcqHeader .answer {
  display: flex;
  flex-direction: row;
  margin: 0px;
}

.mcqHeader .answer p {
  margin: 4px;
  margin-left: 7px;
  font-size: 0.9rem;
  color: rgb(114, 113, 113);
}

.button37 {
  background-color: #13aa52;
  border: 1px solid #13aa52;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 10px 25px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button37:hover {
  box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
  transform: translateY(-2px);
}

@media (min-width: 768px) {
  .button37 {
    padding: 10px 30px;
  }
}

.center {
  margin-top: 40px;
  text-align: center;
}

.timer_style {
  position: fixed;
  background-color: aquamarine;
  z-index: -4;
  top: 60px;
  left: 0;
}