@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Cutive&family=Kanit:wght@300;400&family=Poppins:wght@400;600&family=Roboto+Slab&family=Ubuntu:wght@400;500&display=swap');


.header {
    margin: 0px;
    width: 100%;
    display: flex;
    font-family: 'Bungee Shade', cursive;
    font-family: 'Cutive', serif;
    font-family: 'Poppins', sans-serif;
    flex-direction: row;
    justify-content: space-around;
    background-color: #101011;
    height: 65px;
    /* border: 1px solid black; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  
  .logo {
    width: 20%;
    display: flex;
  }
  
  .logo h3 {
    margin-top: 0.5rem;
    background: linear-gradient(90deg, rgb(226, 246, 8), rgb(252, 181, 48), rgb(226, 66, 13));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* margin-left: 1rem; */
    font-weight: bolder;
  }
  
  .nav div:hover {
    background-color: rgb(157, 157, 157);
    border-radius: 10px;
  }
  
  .nav {
    display: flex;
    flex-direction: row;
    width: 65%;
    padding-left: 10%;
    padding-right: 20%;
    color: white;
    justify-content: space-around;
    margin-right: 5rem;
    gap: 3rem;
  }
  
  .nav div {
    text-align: center;
    width: 20%;
    height: 65%;
    margin: auto;
    align-items: center;
    color: whitesmoke;
  }
  
  .nav div a {
    text-decoration: none;
    color: whitesmoke;
    display: block;
    font-weight: 600;
    margin-top: 8px;
  }
  
  .nav div a:active {
    color: rgb(18, 18, 183);
  }
  
  .nav div a:hover {
    color: rgb(13, 13, 13);
  }
  .iconGrid{
    border: 2px solid whitesmoke;
    height: 50%;
    width: 2.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: auto;
    border-radius: 11px;
  }
  .iconGrid svg{
    font-size: 1.35rem;
    margin: auto;
    color: whitesmoke;
  }
  .iconGrid{
    border-color: rgb(198, 195, 195);
  }
  .iconGrid:hover{
    border-color: rgb(159, 158, 158);
    color: rgb(159, 158, 158);
    cursor: pointer;
  }

.mode {
  width: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.mode button {
  height: 65%;
  width: 40%;
  margin: auto;
  text-align: center;

}

.button4 {
  appearance: none;
  background-color: #000000;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.button4:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  color: black;
  transition-duration: 0.1s;
}

.button4:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #000000;
  cursor: default;
}

.button4:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button4:focus {
  outline: 1px transparent;
}

.button4:before {
  display: none;
}

.button4:-webkit-details-marker {
  display: none;
}

.button31 {
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 40px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.button31:hover,
.button31:focus {
  opacity: .75;
}

.shareportal {
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 60%;
  padding: 5px;
  border-radius: 15px;
  margin: auto;
  font-family: Georgia, serif;
  border-radius: 9px;
  font-family: 'Bungee Shade', cursive;
  font-family: 'Cutive', serif;
  font-family: 'Kanit', sans-serif;
  font-family: 'Poppins', sans-serif;
}

.shareheader {
  padding: 10px;
  font-size: 1.24rem;
  font-family: 'Bungee Shade', cursive;
  font-family: 'Cutive', serif;
  font-family: 'Kanit', sans-serif;
  font-family: 'Poppins', sans-serif;
  background-color: rgb(0, 0, 0);
  color: #F3F4F6;
  border-radius: 8px;
}

.sharecontent {
  padding: 10px;
  font-family: 'Bungee Shade', cursive;
  font-family: 'Cutive', serif;
  font-family: 'Kanit', sans-serif;
  font-family: 'Poppins', sans-serif;
  background-color: rgb(96, 95, 95);
}

.dialog {
  border: 1px solid rgb(4, 189, 41);
  color: rgb(6, 108, 6);
  width: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 10px;
  background-color: #94f980;
}

.inputcard {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.inputcard input {
  height: 40px;
  width: 70%;
  font-size: 1.02rem;
}

.dialog h3 {
  margin: 0px;
  color: rgb(11, 92, 11);
}

.button3 {
  appearance: none;
  background-color: #e88719;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button3:hover {
  background-color: #afbd1a;
  color: black;
}

.button3:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.button3:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.button3:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

.inputcard button {
  width: 12%;
}

.socialMedia {
  color: black;
  font-size: 1.2rem;
}

.shareLink {
  margin-left: 10px;
  font-weight: 500;
  background: linear-gradient(90deg, rgb(243, 206, 18), rgb(255, 45, 3), rgb(226, 66, 13));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sharefooter{
  background-color: rgb(96, 95, 95);

}
.shareLink a {
  text-decoration: none;
  color: darkred;
}

.shareLink a:hover {
  cursor: pointer;
  color: black;
}
.outer{
    background-color: #343541;
    padding-top: 80px;
    min-height: 100vh;
}
.sharecontent h4{
    color: whitesmoke;
}