@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Cutive&family=Kanit:wght@300;400&family=Poppins:wght@400;600&family=Roboto+Slab&family=Ubuntu:wght@400;500&display=swap');
.header{
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr;
    width: 100%;
    position: relative;
    margin-left: 0px;
    height: 70px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;;
}

.header .logo{
    margin-left: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.links{
    display: flex;
    flex-direction: row;
}
.links div{
    width: 16%;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    font-family: 'Kanit', sans-serif;
    justify-content: space-around;
    margin: 3px;
    font-size: 1.4rem;
    text-align: center;
}
.links a:link{
    text-decoration: none;
    font-weight: 400;
    color: rgb(69, 66, 66);
    font-size: 1.15rem;
}
.header .loginBtn{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.header .loginBtn button{
    width: 40%;
    margin: auto;
}
.button9{
    appearance: button;
    backface-visibility: hidden;
    background-color: #405cf5;
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
    font-size: 100%;
    height: 44px;
    line-height: 1.15;
    margin: 12px 0 0;
    outline: none;
    overflow: hidden;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-transform: none;
    transform: translateZ(0);
    transition: all .2s,box-shadow .08s ease-in;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
  }
  
  .button-9:disabled {
    cursor: default;
  }
  
  .button-9:focus {
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
  }
.content{
    display: flex;
    flex-direction: row;
    width: 86%;
    margin: auto;
    margin-top: 30px;
    justify-content: space-between;
}
.content .slogan{
    margin-left: 50px;
    margin-top: 30px;
    font-size: 1.76rem;
    font-family: 'Bungee Shade', cursive;
    font-family: 'Cutive', serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Poppins', sans-serif;

}
.content .slogan span{
    color: rgb(70, 70, 191);
}
.content .slogan h1{
    margin: 10px;
}
.content .sloganImage{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.black{
    color: black;
}
.content .slogan .websiteDesc{
    font-family: sans-serif;
    font-weight: 500;
    font-size: 1.48rem;
    margin: 0px;
    color: gray;
}
.websiteDesc p{
    margin-top: 10px;
    margin: 10px;
    line-height: 29px;
}
.button68 {
  appearance: none;
  backface-visibility: hidden;
  background-color: #27ae60;
  border-radius: 5px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 13px 20px;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button68:hover {
  background-color: #1e8449;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}
.button68:hover {
  box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}
.slogan .btn{
    margin: 10px;
    margin-top: 30px;
}
.websiteDesc .btn button{
    margin: 10px;
}
.pageDown{
    text-align: center;
    margin-top: 10px;
}
.working{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    flex-wrap: wrap;

}
.working .workingHeader{
    text-align: center;
    font-family: 'Bungee Shade', cursive;
    font-family: 'Cutive', serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Poppins', sans-serif;
    text-decoration: underline;
}
.working .createForm{
    width: 65%;
    /* border: 1px solid black; */
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    display: flex;
    flex-direction: row;
    height: 300px;
    margin-bottom: 20px;
    justify-content: space-between;
}
.working .createForm .descIcon{
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    font-size: 1.4rem;
    color: blue;
}
.working .createForm .descImg{
    width: 130%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.working .createForm .descContent{
    font-size: 1.2rem;
    margin:10px;
}
.working .createForm .descContent h2{
    font-family: 'Bungee Shade', cursive;
    font-family: 'Cutive', serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.brown{
    color: rgba(221, 39, 39, 0.49);
}
.green{
    color: #1e8449;
}
.apiHeading{
    font-size: 2.7rem;
}
.newFeature{
    width: 75%;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    display: flex;
    flex-direction: row;
    height: 400px;
    margin-bottom: 20px;
    margin-top: 70px;
    justify-content: space-around;
}
.featureTitle{
    background-color: rgb(251, 214, 49);
    color: rgb(237, 235, 235);
    font-family: 'Bungee Shade', cursive;
    font-family: 'Cutive', serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}
.featureHeading{
    font-size: 2.9rem;
}
.newFeature .featureImg{
    display: flex;
    flex-direction: row;
    width: 55%;
    text-align: center;
    /* border: 1px solid black; */
}
.newFeature .featureImg .lightMode .img{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.newFeature .featureImg .icon{
    font-size: 1.7rem;
    margin-bottom: 30px;
}
.newFeature .featureImg .img{
    margin: auto;
}
.websiteApi{
    width: 70%;
    /* border: 1px solid black; */
    margin: auto;
    text-align: center;
    font-family: 'Bungee Shade', cursive;
    font-family: 'Cutive', serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    margin-top: 60px;
    background-color: rgb(255, 248, 248);
}
.websiteApi .apiContent{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.websiteApi .apiContent .apiImg{
    width: 30%;
}
.websiteApi .apiContent .apiHeader{
    font-size: 1.5rem;
}