@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Cutive&family=Kanit:wght@300;400&family=Poppins:wght@400;600&family=Roboto+Slab&family=Ubuntu:wght@400;500&display=swap');
.header{
    width: 55%;
    margin: auto;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-top: 10px;
    border-radius: 11px;
    border-left: 7px solid rgb(22, 22, 32);
    border-right: 7px solid rgb(22, 22, 32);
    padding: 10px;
    box-sizing: border-box;
}
.header h2{
    font-size: 1.5rem;
    font-family: 'Bungee Shade', cursive;
    font-family: 'Cutive', serif;
    font-family: 'Poppins', sans-serif;
}
.header p{
    font-size: 0.9rem;
    color: gray;
}
