@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Cutive&family=Kanit:wght@300;400&family=Poppins:wght@400;600&family=Roboto+Slab&family=Ubuntu:wght@400;500&display=swap');
.header{
    margin: 0px;
    width: 100%;
    display: flex;
    font-family: 'Bungee Shade', cursive;
    font-family: 'Cutive', serif;
    font-family: 'Poppins', sans-serif;
    flex-direction: row;
    justify-content: space-between;
    /* border: 1px solid black; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.logo{
    width: 15%;
}
.nav div:hover{
    background-color: rgb(203, 227, 245);
    border-radius: 10px;
}
.green{
  color: white;
  background-color: rgb(12, 103, 13);
}
.nav{
    display: flex;
    flex-direction: row;
    width: 25%;
    justify-content: space-around;
}
.nav div{
    text-align: center;
    width: 20%;
    height: 70%;
    margin: auto;
    align-items: center;
}
.nav div a{
    text-decoration: none;
    color: gray;
    display: block;
    margin-top: 8px;
}
.nav div a:active{
    color: rgb(18, 18, 183);
}
.nav div a:hover{
    color: blue;
}
.mode{
    width: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.mode button{
    height: 65%;
    width: 40%;
    margin: auto;
    text-align: center;

}
.button4 {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.button4:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button4:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.button4:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button4:focus {
  outline: 1px transparent;
}

.button4:before {
  display: none;
}

.button4:-webkit-details-marker {
  display: none;
}
.button31 {
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 40px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.button31:hover,
.button31:focus {
  opacity: .75;
}
.responsebtn{
    width: 30%;
    margin: auto;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 25% 25%;
    grid-gap: 50%;
    height: 50px;
    border: 1px solid black;
}
.individual,.question{
    display: flex;
    align-items: center;
    text-align: center;
}
.examContainer .header1{
display: flex;
  width: 40%;
  height: 40px;
  margin: auto;
  margin-top: 30px;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  font-family: 'Bungee Shade', cursive;
font-family: 'Cutive', serif;
font-family: 'Poppins', sans-serif;
}
.examContainer .header1 div{
  width: 20%;
  display: flex;
  transition: all 0.5s;
  border-radius: 50%/125%;
  justify-content: center;
  /* border: 2px solid black; */
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}
.examContainer .header1 div:hover{
  cursor: pointer;
  /* background-color: rgb(183, 184, 184); */
  background-color: rgb(133, 250, 139);
  color: black;
  font-family: 'Bungee Shade', cursive;
font-family: 'Cutive', serif;
font-family: 'Poppins', sans-serif;
}
.examContainer .header1 div span{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.individual{
    width: 60%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    /* border: 1px solid black; */
}
.responsemodal{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: gray;
  opacity: 0.3;
  z-index: 0;
}
.infocard{
  width: 50%;
  margin: auto;
  position: absolute;
  top: 15%;
  opacity: 1;
  font-family: 'Bungee Shade', cursive;
  font-family: 'Cutive', serif;
  font-family: 'Poppins', sans-serif;
  left: 25%;
  z-index: 2;
  background-color: white;
  border-radius: 6px;
  box-sizing: border-box;
  min-height: 20%;
}
.infocard .header{
  background-color: black;
  color: white;
  padding: 9px;
  border-radius: 6px;
}
.infocard .header svg{
  font-size: 2.2rem;
  margin: 10px;
  color: white;
  box-sizing: border-box;
}
.infocard .card{
  color: white;
}
.infocard label{
  font-size: 1.1rem;
  font-weight: 400;
  text-align: left;
  margin: 5px;
}
.infocard .questionContainer{
  margin: 5px;
  box-sizing: border-box;
}
.infocard .question{
  font-size: 1.04rem;
  font-weight: 800;
}
.infocard .answer{
  color: rgb(5, 120, 5);
  text-align: left;
}
.questionBox{
  padding: 3px;
  box-sizing: border-box;
}
.questionBox:nth-child(odd){
  background-color: rgb(255, 243, 209);

}



/* CSS */
.button1 {
  background-color: #ea4d4d;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button1:hover,
.button1:focus {
  background-color: rgb(247, 3, 3);
}
.infocard .closeBtn{
  margin: 5px;
}
.questionFeature{
  text-align: center;
}